*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: x-large;
  padding: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.header {
  background: darkmagenta;
  color: white;
  font-size: xx-large;
  font-weight: 700;
  padding: 16px;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  flex:1 0 300px;
}

.card-section {
  flex:1 1 auto;
  flex-wrap: wrap;
  gap: 24px;
  margin: 48px;

}

.card {
  flex: 0 0 25%;
  min-width: 300px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 12px;
  font-weight: 500;
  font-size: large;
}

.central-section {
  height: 100%;
  flex:1 1 auto;
}